
#navbar_container {

    display: none;

}

@media only screen and (min-width: 992px) {

    #navbar_container {

        display: block;
        margin: 30px;
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.80);
        
        #navbar-logo {

            display: none;

        }

        #navbar {

            list-style: none;
            display: flex;
            justify-content: center;
            gap: 2em;
            font-size: 34px;

            .navbar-item {

                color: gray ;
                text-decoration: none;
                transition: 0.7s;

                &:hover {

                    color: rgb(200, 200, 200);

                }

            }

        }

    }

}

@media only screen and (min-width: 1280px) {

    #navbar_container {

        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #navbar-logo {

            display: block;
            text-decoration: none;
            color: white;
            font-size: 40px;

        }

    }

}